In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('human_development.csv')
df1.head(10)

,HDI Rank,Country,Human Development Index (HDI),Life Expectancy at Birth,Expected Years of Education,Mean Years of Education,Gross National Income (GNI) per Capita,GNI per Capita Rank Minus HDI Rank
0,1.0,Norway,0.944,81.6,17.5,12.6,"64,992",5.0
1,2.0,Australia,0.935,82.4,20.2,13.0,"42,261",17.0
2,3.0,Switzerland,0.930,83.0,15.8,12.8,"56,431",6.0
3,4.0,Denmark,0.923,80.2,18.7,12.7,"44,025",11.0
4,5.0,Netherlands,0.922,81.6,17.9,11.9,"45,435",9.0
5,6.0,Germany,0.916,80.9,16.5,13.1,"43,919",11.0
6,6.0,Ireland,0.916,80.9,18.6,12.2,"39,568",16.0
7,8.0,United States,0.915,79.1,16.5,12.9,"52,947",3.0
8,9.0,Canada,0.913,82.0,15.9,13.0,"42,155",11.0
9,9.0,New Zealand,0.913,81.8,19.2,12.5,"32,689",23.0

In [3]:
df1.shape

(195, 8)

In [3]:
# convertir object columns in float columns
df1['Gross National Income (GNI) per Capita'] = pd.to_numeric(df1['Gross National Income (GNI) per Capita'], errors='coerce')

In [8]:
df1.columns

Index(['HDI Rank', 'Country', 'Human Development Index (HDI)',
       'Life Expectancy at Birth', 'Expected Years of Education',
       'Mean Years of Education', 'Gross National Income (GNI) per Capita',
       'GNI per Capita Rank Minus HDI Rank'],
      dtype='object')

In [4]:
df2 = pd.read_csv('gender_development.csv')
df2.head(10)

,GDI Rank,Country,Gender Development Index (GDI),Human Development Index (Female),Human Development Index (Male),Life Expectancy at Birth (Female),Life Expectancy at Birth (Male),Expected Years of Education (Female),Expected Years of Education (Male),Mean Years of Education (Female),Mean Years of Education (Male),Estimated Gross National Income per Capita (Female),Estimated Gross National Income per Capita (Male)
0,1.0,Norway,0.996,0.94,0.944,83.6,79.5,18.2,16.8,12.7,12.5,57140,72825
1,2.0,Australia,0.976,0.922,0.945,84.5,80.3,20.7,19.7,13.1,12.9,33688,50914
2,3.0,Switzerland,0.95,0.898,0.945,85,80.8,15.7,15.9,11.5,13.1,44132,69077
3,4.0,Denmark,0.977,0.912,0.934,82.2,78.3,19.3,18.1,12.8,12.7,36439,51727
4,5.0,Netherlands,0.947,0.893,0.943,83.3,79.7,18,17.9,11.6,12.2,29500,61641
5,6.0,Germany,0.963,0.901,0.936,83.3,78.5,16.3,16.6,12.9,13.8,34886,53290
6,6.0,Ireland,0.973,0.901,0.926,83,78.8,18.5,18.7,12.3,12,30104,49166
7,8.0,United States,0.995,0.911,0.916,81.4,76.7,17.2,15.7,13,12.9,43054,63158
8,9.0,Canada,0.982,0.904,0.921,84,80,16.3,15.5,13.1,13,33587,50853
9,9.0,New Zealand,0.961,0.894,0.93,83.6,80,20,18.3,12.5,12.6,24309,41372

In [6]:
df2.shape

(195, 13)

In [6]:
# convertir object columns in float columns
df2['Human Development Index (Female)'] = pd.to_numeric(df2['Human Development Index (Female)'], errors='coerce')
df2['Human Development Index (Male)'] = pd.to_numeric(df2['Human Development Index (Male)'], errors='coerce')
df2['Life Expectancy at Birth (Female)'] = pd.to_numeric(df2['Life Expectancy at Birth (Female)'], errors='coerce')
df2['Life Expectancy at Birth (Male)'] = pd.to_numeric(df2['Life Expectancy at Birth (Male)'], errors='coerce')
df2['Expected Years of Education (Female)'] = pd.to_numeric(df2['Expected Years of Education (Female)'], errors='coerce')
df2['Expected Years of Education (Male)'] = pd.to_numeric(df2['Expected Years of Education (Male)'], errors='coerce')
df2['Mean Years of Education (Female)'] = pd.to_numeric(df2['Mean Years of Education (Female)'], errors='coerce')
df2['Mean Years of Education (Male)'] = pd.to_numeric(df2['Mean Years of Education (Male)'], errors='coerce')
df2['Estimated Gross National Income per Capita (Female)'] = pd.to_numeric(df2['Estimated Gross National Income per Capita (Female)'], errors='coerce')
df2['Estimated Gross National Income per Capita (Male)'] = pd.to_numeric(df2['Estimated Gross National Income per Capita (Male)'], errors='coerce')

In [7]:
df2['Gender Development Index (GDI)'] = pd.to_numeric(df2['Gender Development Index (GDI)'], errors='coerce')

In [8]:
df2.dtypes

GDI Rank                                               float64
Country                                                 object
Gender Development Index (GDI)                         float64
Human Development Index (Female)                       float64
Human Development Index (Male)                         float64
Life Expectancy at Birth (Female)                      float64
Life Expectancy at Birth (Male)                        float64
Expected Years of Education (Female)                   float64
Expected Years of Education (Male)                     float64
Mean Years of Education (Female)                       float64
Mean Years of Education (Male)                         float64
Estimated Gross National Income per Capita (Female)    float64
Estimated Gross National Income per Capita (Male)      float64
dtype: object

In [11]:
df2.columns

Index(['GDI Rank', 'Country', 'Gender Development Index (GDI)',
       'Human Development Index (Female)', 'Human Development Index (Male)',
       'Life Expectancy at Birth (Female)', 'Life Expectancy at Birth (Male)',
       'Expected Years of Education (Female)',
       'Expected Years of Education (Male)',
       'Mean Years of Education (Female)', 'Mean Years of Education (Male)',
       'Estimated Gross National Income per Capita (Female)',
       'Estimated Gross National Income per Capita (Male)'],
      dtype='object')

In [9]:
df3 = pd.read_csv('inequality_adjusted.csv')
df3.head(10)

,IHDI Rank,Country,Human Development Index (HDI),Inequality-adjusted HDI (IHDI),IHDI Loss Percent,IHDI Rank Difference,Coefficient of Human Inequality,Inequality in Life Expectancy,Inequality-Adjusted Life Expectancy Index,Inequality in Education,Inequality-Adjusted Education Index,Inequality in Income,Inequality-Adjusted Income Index,Income Inequality (Quintile Ratio),Income Inequality (Palma Rati),Income Inequality (Gini Coefficient)
0,1.0,Norway,0.944,0.893,5.4,0,5.3,3.4,0.916,2.3,0.886,10.2,0.878,4.0,0.9,26.8
1,2.0,Australia,0.935,0.858,8.2,-2,7.9,4.2,0.920,1.9,0.914,17.7,0.752,5.8,1.3,34.0
2,3.0,Switzerland,0.930,0.861,7.4,0,7.3,3.9,0.931,5.7,0.816,12.3,0.839,5.2,1.2,32.4
3,4.0,Denmark,0.923,0.856,7.3,-1,7.1,4.0,0.889,3.0,0.897,14.4,0.787,4.0,0.9,26.9
4,5.0,Netherlands,0.922,0.861,6.6,3,6.5,3.9,0.911,4.1,0.858,11.6,0.817,4.5,1.0,28.9
5,6.0,Germany,0.916,0.853,6.9,0,6.7,3.7,0.902,2.4,0.871,14.1,0.790,4.7,1.1,30.6
6,6.0,Ireland,0.916,0.836,8.6,-3,8.5,3.7,0.902,5.4,0.858,16.3,0.756,5.3,1.2,32.1
7,8.0,United States,0.915,0.760,17.0,-20,15.7,6.2,0.853,5.3,0.842,35.6,0.610,9.8,2.0,41.1
8,9.0,Canada,0.913,0.832,8.8,-2,8.6,4.6,0.910,3.9,0.841,17.4,0.754,5.8,1.3,33.7
9,9.0,New Zealand,0.913,..,..,..,..,4.8,0.905,..,..,..,..,..,..,..

In [10]:
# convertir object columns in float columns
df3['Coefficient of Human Inequality'] = pd.to_numeric(df3['Coefficient of Human Inequality'], errors='coerce')
df3['Inequality in Life Expectancy'] = pd.to_numeric(df3['Inequality in Life Expectancy'], errors='coerce')
df3['Inequality in Education'] = pd.to_numeric(df3['Inequality in Education'], errors='coerce')
df3['Inequality in Income'] = pd.to_numeric(df3['Inequality in Income'], errors='coerce')

In [35]:
df3.dtypes

IHDI Rank                                    float64
Country                                       object
Human Development Index (HDI)                float64
Inequality-adjusted HDI (IHDI)                object
IHDI Loss Percent                             object
IHDI Rank Difference                          object
Coefficient of Human Inequality              float64
Inequality in Life Expectancy                float64
Inequality-Adjusted Life Expectancy Index     object
Inequality in Education                      float64
Inequality-Adjusted Education Index           object
Inequality in Income                         float64
Inequality-Adjusted Income Index              object
Income Inequality (Quintile Ratio)            object
Income Inequality (Palma Rati)                object
Income Inequality (Gini Coefficient)          object
dtype: object

In [9]:
df3.shape

(195, 16)

In [10]:
df3.columns

Index(['IHDI Rank', 'Country', 'Human Development Index (HDI)',
       'Inequality-adjusted HDI (IHDI)', 'IHDI Loss Percent',
       'IHDI Rank Difference', 'Coefficient of Human Inequality',
       'Inequality in Life Expectancy',
       'Inequality-Adjusted Life Expectancy Index', 'Inequality in Education',
       'Inequality-Adjusted Education Index', 'Inequality in Income',
       'Inequality-Adjusted Income Index',
       'Income Inequality (Quintile Ratio)', 'Income Inequality (Palma Rati)',
       'Income Inequality (Gini Coefficient)'],
      dtype='object')

In [14]:
# verifier que GDI Rank et Country pour df2 ont les memes valeurs que les colonnes HDI Rank et	Country pour df1 
df1['Country'].isin(df2['Country']).value_counts()

True    195
Name: Country, dtype: int64

In [15]:
df1['HDI Rank'].isin(df2['GDI Rank']).value_counts()

True    195
Name: HDI Rank, dtype: int64

In [16]:
# verifier que GDI Rank et Country pour df2 ont les memes valeurs que les colonnes IHDI Rank et Country pour df3
df2['Country'].isin(df3['Country']).value_counts()

True    195
Name: Country, dtype: int64

In [17]:
df2['GDI Rank'].isin(df3['IHDI Rank']).value_counts()

True    195
Name: GDI Rank, dtype: int64

In [18]:
# verifier que HDI Rank et Country pour df1 ont les memes valeurs que les colonnes IHDI Rank et Country pour df3
df1['Country'].isin(df3['Country']).value_counts()

True    195
Name: Country, dtype: int64

In [19]:
df1['HDI Rank'].isin(df3['IHDI Rank']).value_counts()

True    195
Name: HDI Rank, dtype: int64

Ayant les memes ranks et memes pays, nous allons selectionner les colonnes les plus utliles et ensuite former un seul dataset

In [11]:
# supprimer les colonnes inutiles dans df1
new_df1 = df1.drop(['GNI per Capita Rank Minus HDI Rank'],axis=1)

In [12]:
# supprimer les colonnes inutiles dans df2
new_df2 = df2.drop(columns=['GDI Rank', 'Country'], axis=1)

In [13]:
# supprimer les colonnes inutiles dans df3
new_df3 = df3.drop(['IHDI Rank', 'Country', 'Human Development Index (HDI)',
       'Inequality-adjusted HDI (IHDI)', 'IHDI Loss Percent',
       'IHDI Rank Difference',
       'Inequality-Adjusted Life Expectancy Index',
       'Inequality-Adjusted Education Index',
       'Inequality-Adjusted Income Index',
       'Income Inequality (Quintile Ratio)', 'Income Inequality (Palma Rati)', 
       'Income Inequality (Gini Coefficient)'], axis=1)

ASSEMBLER TOUS LES DATASETS

In [14]:
# Assembler (concat) tous les datasets en un seul dataset
horizontal_df = pd.concat([new_df1, new_df2, new_df3], axis=1)
horizontal_df

,HDI Rank,Country,Human Development Index (HDI),Life Expectancy at Birth,Expected Years of Education,Mean Years of Education,Gross National Income (GNI) per Capita,Gender Development Index (GDI),Human Development Index (Female),Human Development Index (Male),...,Expected Years of Education (Female),Expected Years of Education (Male),Mean Years of Education (Female),Mean Years of Education (Male),Estimated Gross National Income per Capita (Female),Estimated Gross National Income per Capita (Male),Coefficient of Human Inequality,Inequality in Life Expectancy,Inequality in Education,Inequality in Income
0,1.0,Norway,0.944,81.6,17.5,12.6,NaN,0.996,0.940,0.944,...,18.2,16.8,12.7,12.5,57140.0,72825.0,5.3,3.4,2.3,10.2
1,2.0,Australia,0.935,82.4,20.2,13.0,NaN,0.976,0.922,0.945,...,20.7,19.7,13.1,12.9,33688.0,50914.0,7.9,4.2,1.9,17.7
2,3.0,Switzerland,0.930,83.0,15.8,12.8,NaN,0.950,0.898,0.945,...,15.7,15.9,11.5,13.1,44132.0,69077.0,7.3,3.9,5.7,12.3
3,4.0,Denmark,0.923,80.2,18.7,12.7,NaN,0.977,0.912,0.934,...,19.3,18.1,12.8,12.7,36439.0,51727.0,7.1,4.0,3.0,14.4
4,5.0,Netherlands,0.922,81.6,17.9,11.9,NaN,0.947,0.893,0.943,...,18.0,17.9,11.6,12.2,29500.0,61641.0,6.5,3.9,4.1,11.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,NaN,Europe and Central Asia,0.748,72.3,13.6,10.0,NaN,0.945,0.719,0.760,...,13.5,13.8,9.0,10.0,8238.0,17607.0,12.9,14.3,7.9,16.6
191,NaN,Latin America and the Caribbean,0.748,75.0,14.0,8.2,NaN,0.976,0.736,0.754,...,14.4,13.7,8.0,8.1,10194.0,18435.0,23.2,13.3,21.0,35.2
192,NaN,South Asia,0.607,68.4,11.2,5.5,NaN,0.801,0.525,0.655,...,10.8,11.3,3.7,6.9,2198.0,8827.0,27.9,24.4,41.5,17.9
193,NaN,Sub-Saharan Africa,0.518,58.5,9.6,5.2,NaN,0.872,0.480,0.550,...,9.1,10.3,4.2,6.0,2626.0,4148.0,33.1,36.6,35.3,27.5
194,NaN,World,0.711,71.5,12.2,7.9,NaN,0.924,0.670,0.725,...,12.2,12.4,6.2,7.9,10296.0,18373.0,22.7,17.4,26.8,24.0

In [15]:
horizontal_df.dtypes

HDI Rank                                               float64
Country                                                 object
Human Development Index (HDI)                          float64
Life Expectancy at Birth                               float64
Expected Years of Education                            float64
Mean Years of Education                                float64
Gross National Income (GNI) per Capita                 float64
Gender Development Index (GDI)                         float64
Human Development Index (Female)                       float64
Human Development Index (Male)                         float64
Life Expectancy at Birth (Female)                      float64
Life Expectancy at Birth (Male)                        float64
Expected Years of Education (Female)                   float64
Expected Years of Education (Male)                     float64
Mean Years of Education (Female)                       float64
Mean Years of Education (Male)                         float64
Estimated Gross National Income per Capita (Female)    float64
Estimated Gross National Income per Capita (Male)      float64
Coefficient of Human Inequality                        float64
Inequality in Life Expectancy                          float64
Inequality in Education                                float64
Inequality in Income                                   float64
dtype: object

In [16]:
horizontal_df.isnull().sum()

HDI Rank                                                 7
Country                                                  0
Human Development Index (HDI)                            0
Life Expectancy at Birth                                 0
Expected Years of Education                              0
Mean Years of Education                                  0
Gross National Income (GNI) per Capita                 189
Gender Development Index (GDI)                          27
Human Development Index (Female)                        27
Human Development Index (Male)                          27
Life Expectancy at Birth (Female)                        5
Life Expectancy at Birth (Male)                          5
Expected Years of Education (Female)                    14
Expected Years of Education (Male)                      14
Mean Years of Education (Female)                        18
Mean Years of Education (Male)                          18
Estimated Gross National Income per Capita (Female)     11
Estimated Gross National Income per Capita (Male)       11
Coefficient of Human Inequality                         37
Inequality in Life Expectancy                            5
Inequality in Education                                 30
Inequality in Income                                    34
dtype: int64

In [17]:

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [18]:
# imputer les valeurs manquates 
horizontal_df['HDI Rank'].fillna(method='ffill', inplace=True)

In [20]:
horizontal_df.fillna(horizontal_df.median(numeric_only=True), inplace=True)

In [23]:
horizontal_df.head(5)

,HDI Rank,Country,Human Development Index (HDI),Life Expectancy at Birth,Expected Years of Education,Mean Years of Education,Gross National Income (GNI) per Capita,Gender Development Index (GDI),Human Development Index (Female),Human Development Index (Male),...,Expected Years of Education (Female),Expected Years of Education (Male),Mean Years of Education (Female),Mean Years of Education (Male),Estimated Gross National Income per Capita (Female),Estimated Gross National Income per Capita (Male),Coefficient of Human Inequality,Inequality in Life Expectancy,Inequality in Education,Inequality in Income
0,1.0,Norway,0.944,81.6,17.5,12.6,752.5,0.996,0.940,0.944,...,18.2,16.8,12.7,12.5,57140.0,72825.0,5.3,3.4,2.3,10.2
1,2.0,Australia,0.935,82.4,20.2,13.0,752.5,0.976,0.922,0.945,...,20.7,19.7,13.1,12.9,33688.0,50914.0,7.9,4.2,1.9,17.7
2,3.0,Switzerland,0.930,83.0,15.8,12.8,752.5,0.950,0.898,0.945,...,15.7,15.9,11.5,13.1,44132.0,69077.0,7.3,3.9,5.7,12.3
3,4.0,Denmark,0.923,80.2,18.7,12.7,752.5,0.977,0.912,0.934,...,19.3,18.1,12.8,12.7,36439.0,51727.0,7.1,4.0,3.0,14.4
4,5.0,Netherlands,0.922,81.6,17.9,11.9,752.5,0.947,0.893,0.943,...,18.0,17.9,11.6,12.2,29500.0,61641.0,6.5,3.9,4.1,11.6

Identifier les outliers

In [21]:
# detecter les outliers par la methode des interquartile iqr
def detect_outliers(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    
    IQR = Q3 - Q1
    
    lower_limit = Q1 - 1.5 * IQR
    upper_limit = Q3 + 1.5 * IQR
    
    return data[(data[column] > upper_limit) | (data[column] < lower_limit)]

In [ ]:
features = ['Human Development Index (HDI)',
       'Life Expectancy at Birth', 'Expected Years of Education',
       'Mean Years of Education', 'Gross National Income (GNI) per Capita',
       'Gender Development Index (GDI)', 'Human Development Index (Female)',
       'Human Development Index (Male)', 'Life Expectancy at Birth (Female)',
       'Life Expectancy at Birth (Male)',
       'Expected Years of Education (Female)',
       'Expected Years of Education (Male)',
       'Mean Years of Education (Female)', 'Mean Years of Education (Male)',
       'Estimated Gross National Income per Capita (Female)',
       'Estimated Gross National Income per Capita (Male)',
       'Coefficient of Human Inequality', 'Inequality in Life Expectancy',
       'Inequality in Education', 'Inequality in Income']

In [26]:
for feature in features:
    show_detect_outliers = detect_outliers(horizontal_df, features)